/QuestaoUm/nbproject/private/
/QuestaoUm/build/
/CachorrosLatindo/nbproject/private/
/CachorrosLate/nbproject/private/
/CachorrosLatindos/nbproject/private/
/CachorrosLatir/nbproject/private/
/CachorrosLatir/build/
/Bicicleta/nbproject/private/
/Bicicleta/build/
/Vendas/nbproject/private/
/CorridaCarros/nbproject/private/
/CorridaCarros/build/
/Time/nbproject/private/
/IMC/nbproject/private/
/IMC/build/
/ScannerMedias/nbproject/private/
/ScannerMedias/build/
/DesenvolvimentoJogo/nbproject/private/
/TesteDoido/nbproject/private/
/TesteDoido/build/
/Animal/nbproject/private/
/SegundaAvaliação/nbproject/private/
/SegundaAvaliação/build/
